@charset "utf-8";
@import '_settings';



/*==================================================

parts
==================================================*/

/*	margin top	*/
.mt1 {margin-top:1px !important;}
.mt3 {margin-top:3px !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt8 {margin-top:8px !important;}
.mt10 {margin-top:10px !important;}
.mt12 {margin-top:12px !important;}
.mt15 {margin-top:15px !important;}
.mt16 {margin-top:16px !important;}
.mt20 {margin-top:20px !important;}
.mt24 {margin-top:24px !important;}
.mt25 {margin-top:25px !important;}
.mt28 {margin-top:28px !important;}
.mt30 {margin-top:30px !important;}
.mt32 {margin-top:32px !important;}
.mt34 {margin-top:34px !important;}
.mt36 {margin-top:36px !important;}
.mt40 {margin-top:40px !important;}
.mt42 {margin-top:42px !important;}
.mt44 {margin-top:44px !important;}
.mt48 {margin-top:48px !important;}
.mt50 {margin-top:50px !important;}

/*	float	*/
.left {float:left;display:inline;}
.right {float:right;display:inline;}

/*	figure float	*/
.alignleft {float:left;display:inline;margin-right:20px;}
.alignright {float:right;display:inline;margin-left:20px;}
.aligncenter {display:block;margin-left:auto;margin-right:auto;}

/*	text align	*/
p.center {text-align:center;}
p.right {text-align:right;}

/*	clearfix	*/
.clear {zoom:1;}
.clear:after {clear:both;display:block;content:'';}



/*==================================================

module
==================================================*/


/*	info	*/

#main .info {
	border-bottom:1px dotted #CCCCCC;
	margin:5px 0 0;
	padding:0 0 5px;
	&:after { @include clear; }
	li {
		background:none;
		display:inline;
		margin:0;
		padding:0;
		float:left;
		&:before,&:after { content:none; }
	}
}


/*	pager	*/

#main .pager {
    position: relative;
    overflow: hidden;
	ul,ol {
		margin:50px 0 0;
		&:after { @include clear; }
		li {
			background:none;
			padding:0;
			margin:0;
			float:left;
			display:inline;
			position: relative;
			&:before,&:after { content:none; }
			+ li { margin-left:10px; }
			a,span {
				border:1px solid #CCCCCC;
				color:#CCCCCC;
				display:block;
				text-align:center;
				padding:5px 10px;
			}
			a:hover,
			span {
				background:#CCCCCC;
				color:#FFF;
			}			
		}
	}
}
